.register form{
    margin: 5rem auto;
    border-radius: 0.4rem;
    text-align: center;
  }
  .form{
      width: 300px;
      background-color: rgb(73, 72, 73);
  }
  input{
      border-radius: 0.4rem;
      height: 20px;

  }
.submit{
   background-color: rgb(29, 161, 161);
   color: floralwhite; 
   width: 80px;
   height: 30px;
}
.submit:hover{
    margin-top:2px;
    background-color: cornsilk;
    color: black;
    cursor: pointer;
}