.register form{
    margin: 5rem auto;
    border-radius: 0.4rem;
    text-align: center;
  }
  .form{
      width:400px;
      background-color: rgb(73, 72, 73);
  }
  input{
      border-radius: 0.4rem;
      height: 20px;

  }
