.footerItem{
    width: 75px;
    background-color: rgb(48, 157, 172);
margin-top: 100px;
}
.footerItem:hover{
    width: 75px;
    font-size: 15px;
    background-color: darkseagreen;
    color: ivory;
}