.listitem{
    display: inline-block;
    width: 100px;
    
    
    
}
.conteiner {
    background-color: rgb(133, 169, 194);
}

a{
    margin-left: 20px;
    font-size: 20px;
    width: auto;
    color:white;

}