ul.carsView{
   
    margin-right: 50px;
    margin-top:15px ;
    display:block ;
    width: 200px;
    list-style: none outside;
    
}

ul.carsView li.carsImg{
    border:4px solid rgb(144, 174, 255);
    border-radius: 5px;
    margin-top: 15px;
 display: block;
   width: 200px; 
   box-shadow: 10px 11px 14px grey;
}

li img{
    width: 200px;
}
li p{
    margin-left: 10px;
    color: honeydew;
}
h2{
    color: rgb(88, 197, 25);
}
div.description{
    background-color: cornsilk;
}
